.m-0{
    margin: 0px !important;
}
.m-5{
    margin: 5px
}
.m-10{
    margin: 10px
}

/************** Margin Top*************/
.mt-0{
    margin-top: 0px !important;
}
.mt-5{
    margin-top: 5px !important;
}
.mt-10{
    margin-top: 10px !important;
}
.mt-20{
    margin-top: 20px !important;
}
.mt-30{
    margin-top: 30px !important;
}

/************** Margin Bottom*************/
.mb-0{
    margin-bottom: 0px !important;
}
.mb-5{
    margin-bottom: 5px !important;
}
.mb-10{
    margin-bottom: 10px !important;
}
.mb-20{
    margin-bottom: 20px !important;
}
.mb-30{
    margin-bottom: 30px !important;
}

/************** Margin Left*************/
.ml-0{
    margin-left: 0px !important;
}
.ml-5{
    margin-left: 5px !important;
}
.ml-10{
    margin-left: 10px !important;
}
.ml-20{
    margin-left: 20px !important;
}
.ml-30{
    margin-left: 30px !important;
}

/************** Margin Right*************/
.mr-0{
    margin-right: 0px !important;
}
.mr-5{
    margin-right: 5px !important;
}
.mr-10{
    margin-right: 10px !important;
}
.mr-20{
    margin-right: 20px !important;
}
.mr-30{
    margin-right: 30px !important;
}